<html>
	<head>
		{% load static %}
		<link type="text/css" rel="stylesheet" href="{% static 'rankstylesheet.css' %}"/>
		<!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">        
        <!--link href="{% static 'css/home.css' %}" rel="stylesheet" media="screen"-->
	</head>
	<body>
	
	
	    <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/matchups/">Vote</a></li>
                <li><a href="/players/">Ranks</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
        
        <div class="container">
      		
        
      

			<!-- Example row of columns -->
			<div class="row-fluid">
				<div class="span4">
					<h2>Start Voting!</h2>          			
					<p><a class="btn" onclick="myFunction()">Start Voting!&raquo;</a></p>
        		</div>
        		<div class="span4">
					<h2>Vote on QBs</h2>					
          			<p><a class="btn" >Coming soon...</a></p>
       			</div>
        		<div class="span4">
					<h2>Vote on RBs</h2>					
          			<p><a class="btn" >Coming soon...</a></p>
       			</div>
						
        		
      		</div>
      		
      		<div class="row-fluid">
				<div class="span2"></div>
				<div class="span4">
					<h2>Vote on WRs</h2>					
          			<p><a class="btn" >Coming soon...</a></p>
       			</div>
       			<div class="span4">
					<h2>Vote on TEs</h2>					
          			<p><a class="btn" >Coming soon...</a></p>
       			</div>
						
        		
      		</div>
      		
      		
      		   

	    </div> 

		<!--p>
			<button onclick="myFunction()">Start Voting!</button>
		</p>
		
		<p>
			<button onclick="home()">Home Page</button>
		</p-->


		<!--make this pick a random matchup and doesn't repeat!!-->
		<script>
			function myFunction() {
				//make this a random number
				//max value = {{count}}
				//min value = 1
				var num = Math.floor(Math.random() * ({{count}} - 1 + 1)) + 1;				
				window.location = "/matchups/"+num
			}
		</script>
		
		<script>
			function home() {
				window.location = "/"
			}
		</script>
		
		
		
		
		
	
		
		
		
	</body>
</html>