<html>
	<head>
		<p>
			Hello, world. You're at the voting page.
		</p>
	</head>

	<body>

		<p>
			<button onclick="myFunction()">Start Voting!</button>
		</p>
		
		<p>
			<button onclick="home()">Home Page</button>
		</p>


		<!--make this pick a random matchup and doesn't repeat!!-->
		<script>
			function myFunction() {
				//make this a random number
				//max value = {{count}}
				//min value = 1
				var num = Math.floor(Math.random() * ({{count}} - 1 + 1)) + 1;				
				window.location = "/matchups/"+num
			}
		</script>
		
		<script>
			function home() {
				window.location = "/"
			}
		</script>
		
		<!--
		<p> Matchups:
		{% if mlist %}
		<ul>
		{% for matchup in mlist %}
			<li><p>{{ matchup.player1.first_name }} : {{ matchup.p1Votes}} votes vs {{ matchup.player2.first_name }} : {{ matchup.p2Votes}} votes</p>
			<p>{{ matchup.player1.elo }} elo vs {{ matchup.player2.elo }} elo</p></li>
		{% endfor %}
		</ul>
		{% else %}
		<p>No matchups are available.</p>
		{% endif %}
		-->
	</p>
		
		
		
	</body>
</html>