<html>
	<head>
		<p>
			Hello, world. You're at the voting page.
		</p>
	</head>

	<body>

		<p>
			<button onclick="myFunction()">Start Voting!</button>
		</p>


		<!--make this pick a random matchup and doesn't repeat!!-->
		<script>
			function myFunction() {
				window.location = "/matchups/1"
			}
		</script>
		
		
		<p> Matchups:
	{% if mlist %}
		<ul>
		{% for matchup in mlist %}
			<li>{{ matchup.player1.first_name }} : {{ matchup.p1Votes}} vs {{ matchup.player2.first_name }} : {{ matchup.p2Votes}}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No matchups are available.</p>
	{% endif %}
	</p>
		
		
		
	</body>
</html>