<html>
	<head>
		<p>
			Hello, everyone. You're at a specific vote page for id: {{ id }}
		</p>
		{% if names %}
			<p>		
				{{ names.0 }} vs {{ names.1 }}
			</p>
	    {% else %}
			<p>Invalid Matchup.</p>
   	    {% endif %}
	</head>
	<body>

		<p>
			<button onclick="myFunction()">New matchup!</button>
		</p>

		<!--make this pick a random matchup and doesn't repeat!!-->
		<script>
			function myFunction() {
		    var num = {{id}}+1
			window.location = "/matchups/"+num
			}
		</script>

	</body>

</html>