#welcome{
	text-align: center;
}

#parent{
	text-align: center;
}

.position{
	text-align:center;
    display:inline-block;
	width: 200px;
	margin: 20px;
}

#QB{
	
}
#RB{

}
#WR{

}
#TE{

}
#FLEX{
    
}