#welcome{
	text-align: center;
}

#parent{
	text-align: center;
	position: absolute;
}

.position{
	text-align:center;
    display:inline-block;
	width: 200px;
	margin: 20px;
}

#QB{
	vertical-align: text-top;

}
#RB{
	vertical-align: text-top;

}
#WR{
	vertical-align: text-top;

}
#TE{
	vertical-align: text-top;

}
#FLEX{
	vertical-align: text-top;
    
}