<p>
Hello, world. You're at the rankings page.
</p>

<p> Quarterbacks:
{% if qbs %}
    <ul>
	{% for player in qbs %}
    	<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
	{% endfor %}
	</ul>
{% else %}
    <p>No Quarterbacks are available.</p>
{% endif %}
</p>

<p> Running backs:
{% if rbs %}
    <ul>
	{% for player in rbs %}
    	<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
	{% endfor %}
	</ul>
{% else %}
    <p>No Running backs are available.</p>
{% endif %}
</p>

<p> Wide Receivers:
{% if wrs %}
    <ul>
	{% for player in wrs %}
    	<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
	{% endfor %}
	</ul>
{% else %}
    <p>No Wide Receivers are available.</p>
{% endif %}
</p>

<p> Tight Ends:
{% if tes %}
    <ul>
	{% for player in tes %}
    	<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
	{% endfor %}
	</ul>
{% else %}
    <p>No Tight Ends are available.</p>
{% endif %}
</p>

<p> Flex:
{% if flex %}
    <ul>
	{% for player in flex %}
    	<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
	{% endfor %}
	</ul>
{% else %}
    <p>No Flex players are available.</p>
{% endif %}
</p>