<html>
	<head>
	    {% load static %}
		<link type="text/css" rel="stylesheet" href="{% static 'playersstylesheet.css' %}" media = "screen"/>
		<title>Homepage</title>
	</head>
	<body>
	<p id="welcome">
	Player Rankings
	</p>
	<div id="parent">
	<div id="QB" class="position">
	<p> <span class="title">Quarterbacks:</span>
	{% if qbs %}
		<ul>
		{% for player in qbs %}
			<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Quarterbacks are available.</p>
	{% endif %}
	</p>
	</div>
	
	<div id="RB" class="position">
	<p> <span class="title">Running backs:</span>
	{% if rbs %}
		<ul>
		{% for player in rbs %}
			<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Running backs are available.</p>
	{% endif %}
	</p>
	</div>
	
	<div id="WR" class="position">
	<p> <span class="title">Wide Receivers:</span>
	{% if wrs %}
		<ul>
		{% for player in wrs %}
			<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Wide Receivers are available.</p>
	{% endif %}
	</p>
	</div>
	
	<div id="TE" class="position">
	<p> <span class="title">Tight Ends:</span>
	{% if tes %}
		<ul>
		{% for player in tes %}
			<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Tight Ends are available.</p>
	{% endif %}
	</p>
	</div>

	<div id="Flex" class="position">
	<p> <span class="title">Flex:</span>
	{% if flex %}
		<ul>
		{% for player in flex %}
			<li>{{ player.first_name }} {{ player.last_name }}, {{ player.position }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Flex players are available.</p>
	{% endif %}
	</p>
	</div>
	</div>
	</body>
</html>